# Third Party Licenses

This page lists the licenses of the projects used in Persevere.

## Overview of licenses

{{#each overview}}
- [{{name}}](#{{id}}) ({{count}})
{{/each}}

## All license text

{{#each licenses}}
### <a name="{{id}}"></a>{{name}}

#### Used by

{{#each used_by}}
- [{{crate.name}} {{crate.version}}]({{#if crate.repository}} {{crate.repository}} {{else}} https://crates.io/crates/{{crate.name}} {{/if}})
{{/each}}

<pre>
{{text}}
</pre>

{{/each}}
